body {
    background-color: rgb(172, 172, 200);
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    text-decoration: rgb(179, 139, 29);
        }

h1{
    background-color: mediumblue;
    border-radius: 5cm
}

img{
    width: 20px;
    height: 20px;
}
